@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Ubuntu:wght@300&display=swap");

:root {
  --main-font: "Ubuntu", sans-serif;
  --main-text-color: white;
  --another-text-color: black;
  --background-color: black;
}

/* div { */
/*   border-style: solid; */
/*   border-color: red; */
/* } */

body,
html {
  background-color: var(--background-color);
  color: var(--main-text-color);
  height: 100%;
  margin: 0px;
  padding: 10px;
}

.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.main-nav nav ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.main-nav nav ul a {
  margin: 0.4em;
  padding: 15px;
  color: #fefdfd;
  text-decoration: none;
}

#profile-div {
  display: flex;
  justify-content: center;
}

#profile-pic-id {
  width: 300px;
}

/* /* NAV */

@media only screen and (min-width: 100px) {
  html,
  body {
    color: var(--another-text-color);
    background-color: lavenderblush;
  }
}

@media only screen and (min-width: 768px) {
  html,
  body {
    color: var(--another-text-color);
    background-color: lightgray;
  }
}

@media only screen and (min-width: 992px) {
  html,
  body {
    color: var(--another-text-color);
    background-color: lightgoldenrodyellow;
  }
}

@media only screen and (min-width: 1200px) {
  html,
  body {
    color: var(--main-text-color);
    background-color: var(--background-color);
  }
}

@media only screen and (orientation: landscape) {
  color: var(--another-text-color);
  background-color: lightblue;
}
